
/* START OF FORGOT */

.forgot-form {
  max-width: 310px;
  margin: 120px auto;
  padding: 55px;
  padding-left: 40px;
  background: #2B2B2B;
  padding-top: 30px;


}

.forgot-title {
  margin-left: 35px;
}

.forgot-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
  color: white;
  margin-left: 10px;
}

.forgot-instructions {
  text-align: center;
}

.forgot-form input {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  color: rgb(255, 255, 255);
  background: #000000;
  border-style: none;
  margin-bottom: 20px;
}


.Continue-btn {
  margin-top: 50px;
  margin-left: 73px;
  background: #000000;
  color: white;
  padding: 15px 50px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  display: flex;
}

.return-login {
  margin-left: 110px;
  padding-top: 25px;
  color: white;
  font: inherit;
}

/*END OF FORGOT */