.main {
    /* Autres styles */
    overflow-y: auto;
    /* ou overflow-y: scroll; */
    height: 100vh;
}

.movie-list {
    padding: 20px;
    background: #000000;
}

.movies {
    display: flex;
    justify-content: space-around;
}

.book-now-btn {
    background: #333;
    color: white;
    padding: 20px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 550px;
}

.book-now-btn:hover {
    color: #ffcc00;
    /* Change the color on hover as desired */
}

.movie {
    width: 150px;
    height: 200px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    background-color: #333;
    background-size: cover;
    background-position: center;
    background-image: url('/booking-system-/fullstack/vite-project/src/components/images/hunger-games-poster.jpg');
}

.featured-movie {
    background-image: url('/booking-system-/fullstack/vite-project/src/img/Napoleon_Poster_0101.jpg');
    color: white;
    padding: 20px;
    text-align: center;
    position: static;
}