.main {
    /* Autres styles */
    overflow-y: auto;
    /* ou overflow-y: scroll; */
    height: 100vh;
}

.movie-list {
    padding: 20px;
    background: #000000;
}

.movies {
    display: flex;
    justify-content: space-around;
}

.book-now-btn {
    background: #333;
    color: white;
    padding: 20px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 550px;
}

.book-now-btn:hover {
    color: #ffcc00;
    /* Change the color on hover as desired */
}

.movie {
    width: 150px;
    height: 200px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    background-color: #333;
    background-size: cover;
    background-position: center;
    background-image: url('/booking-system-/fullstack/vite-project/src/components/images/hunger-games-poster.jpg');
}

.featured-movie {
    background-image: url('https://media.cnn.com/api/v1/images/stellar/prod/230711113830-01-napoleon-apple-tv.jpg?c=original');
    color: white;
    padding: 20px;
    text-align: center;
    position: static;
    background-size: cover;
    background-position: center center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Prevent the image from repeating */
    width: 96, 5vw;
    /* Viewport width: ensures the div takes the full width of the viewport */
    height: calc(96vw * (552 / 980));
    /* Calculez la hauteur pour maintenir le ratio d'aspect de l'image */
    /* Other styles */
}

.now-showing {
    color: white;
}