body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


/* LOGIN */

.login-form {
  max-width: 310px;
  margin: 120px auto;
  padding: 45px;
  background: #2B2B2B;
  padding-top: 30px;
  padding-bottom: 80px;

}

.login-inputs {
  padding-bottom: 20px;
  padding-right: 20px;
}

.login-title {
  padding-left: 105px;
  padding-bottom: 20px;
}


.login-form input {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  color: rgb(255, 255, 255);
  background: #000000;
  border-style: none;
}

.login-form-footer {
  text-align: center;
  padding-top: 10px;
  color: white;
  font-size: 15px;
}

.register-btn-login {
  margin-top: 20px;
  margin-left: 20px;
  padding-bottom: 20px;
  background: #000000;
  color: white;
  padding: 20px 100px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
}

/*END OF LOGIN*/
.register-form {
  max-width: 310px;
  margin: 120px auto;
  padding: 45px;
  background: #2B2B2B;
  padding-top: 30px;
  padding-bottom: 80px;

}




.register-btn-login {
  margin-top: 20px;
  margin-left: 20px;
  padding-bottom: 20px;
  background: #000000;
  color: white;
  padding: 20px 100px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
}

/*REGISTER */

.register-form {
  max-width: 310px;
  margin: 120px auto;
  padding: 55px;
  padding-left: 35px;
  background: #2B2B2B;
  padding-top: 30px;
  padding-bottom: 80px;

}

.create-account-btn {
  margin-top: 50px;
  margin-left: 35px;
  background: #000000;
  color: white;
  padding: 15px 50px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  display: flex;
}

.register-form input {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  color: rgb(255, 255, 255);
  background: #000000;
  border-style: none;
  margin-bottom: 20px;
}

.register-title {
  padding-left: 15px;
  padding-bottom: 5px;
}

.register-form-footer {
  text-align: center;
  padding-top: 10px;
  color: white;
  font-size: 15px;
  padding-left: 25px;
}

/*END OF REGISTER */



/* START OF FORGOT */

.forgot-form {
  max-width: 310px;
  margin: 120px auto;
  padding: 55px;
  padding-left: 40px;
  background: #2B2B2B;
  padding-top: 30px;


}

.forgot-title {
  margin-left: 35px;
}

.forgot-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
  color: white;
  margin-left: 10px;
}

.forgot-instructions {
  text-align: center;
}

.forgot-form input {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  color: rgb(255, 255, 255);
  background: #000000;
  border-style: none;
  margin-bottom: 20px;
}


.Continue-btn {
  margin-top: 50px;
  margin-left: 73px;
  background: #000000;
  color: white;
  padding: 15px 50px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  display: flex;
}

.return-login {
  margin-left: 110px;
  padding-top: 25px;
  color: white;
  font: inherit;
}

/*END OF FORGOT */

.featured-movie {
  background-image: url('C:\Users\kerp2\Documents\GitHub\booking-system-\fullstack\vite-project\src\img\Napoleon_Poster_0101.jpg');
  color: white;
  padding: 20px;
  text-align: center;
  position: static;
  background-size: cover;
  background-position: center center; /* Center the image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  width: 96,5vw; /* Viewport width: ensures the div takes the full width of the viewport */
  height: calc(96vw * (552 / 980)); /* Calculez la hauteur pour maintenir le ratio d'aspect de l'image */
  /* Other styles */
}


.selected-movie {
  background-color: #333;
  color: white;
  padding: 20px;
  padding-top: 10px;
  text-align: center;
  position: static;

}

.movie-little-infos {
  font-size: 9px;
}

#release {
  color: #6C6C6C;
  padding-top: 270px;
  padding-right: 1250px;
}

.background-separator {
  background: linear-gradient(#896969, #000000);
  padding: 100px;
}


.book-now-btn {
  background: #333;
  color: white;
  padding: 20px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 750px;
}

.book-now-btn:hover {
  color: #ffcc00;
  /* Change the color on hover as desired */
}

.login-btn {
  padding-left: 128px;
  padding-top: 10px;
  margin-left: 77px;
  padding-bottom: 20px;
  background: #000000;
  color: white;
  padding: 15px 60px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}


.movie-list {
  padding: 20px;
  background: #000000;
}

.movies {
  display: flex;
  justify-content: space-around;
}

.movies-sessions {
  display: flex;
  justify-content: space-around;
  margin-bottom: 150px;
}

.movie {
  width: 150px;
  height: 200px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  background-color: #333;
  ;
}

.session-rectangle-0 {
  width: 150px;
  height: 100px;
  background-color: #2B2B2B;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.session-rectangle-1 {
  width: 150px;
  height: 100px;
  background-color: #2B2B2B;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.session-rectangle-2 {
  width: 150px;
  height: 100px;
  background-color: #2B2B2B;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.session-rectangle-3 {
  width: 150px;
  height: 100px;
  background-color: #2B2B2B;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.calendar-btn {
  width: 150px;
  height: 100px;
  background-color: #2B2B2B;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  cursor: pointer;
}


.movie:hover {
  transform: scale(1.06);
}

.footer {
  background-color: #000;
  /* Ensure footer background is black */
  width: 100%;
}

.main {
  /* Autres styles */
  /* ou overflow-y: scroll; */
  height: 100vh;
  background-color: #000;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 11px;
  margin-inline-end: 0px;
  font-weight: bold;
  color: white;
}


a:-webkit-any-link {
  color: white;
  cursor: pointer;
  text-decoration: none;
}



